In [1]:
import networkx as nx
import numpy as np
import pandas as pd

In [20]:
!unzip DATA.zip

Archive:  DATA.zip
replace DATA/Roanoke.tsp? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [108]:
instance='Atlanta'
n=int(open('../data/'+instance+'.tsp').readlines()[2][len('DIMENSION: '):])
input=np.loadtxt("../data/"+instance+".tsp",skiprows=5,max_rows=n)

In [109]:
G = nx.from_numpy_matrix(distance_matrix(input[:,1:],input[:,1:]))
T=nx.minimum_spanning_tree(G)
eulerian_cycle = list(nx.eulerian_circuit(T.to_directed(),source=0))

In [112]:
visited_nodes=[]
tour_nodes=[]
for edge in eulerian_cycle:
  if(edge[0] not in visited_nodes):
    tour_nodes.append(edge[0])
  visited_nodes.append(edge[0])
tour_nodes.append(tour_nodes[0])

In [113]:
print(tour_nodes)

[0, 6, 1, 2, 16, 12, 8, 11, 10, 19, 5, 4, 17, 13, 9, 15, 3, 7, 14, 18, 0]

In [114]:
nx.path_weight(G,tour_nodes,'weight')

2415131.541776732

In [115]:
pd.read_csv('../data/solutions.csv')

        Instance    Value
0        Atlanta  2003763
1         Berlin     7542
2         Boston   893536
3      Champaign    52643
4     Cincinnati   277952
5         Denver   100431
6            NYC  1555060
7   Philadelphia  1395981
8        Roanoke   655454
9   SanFrancisco   810196
10       Toronto  1176151
11  UKansasState    62962
12     UMissouri   132709

In [116]:
2415131.541776732/2003763

1.205298002696293